.FinanceHistory {
  border-radius: 8px;

  padding: 8px;

  background-color: var(--blue-20);

  display: flex;
  flex-direction: column;
  gap: 8px;
}
.heading {
  padding: 12px 0;

  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
.financeItem {
  border-radius: 8px;

  padding: 12px;

  background-color: var(--blue-gray);

  display: flex;
  align-items: center;
  gap: 12px;
}
@media screen and (max-width: 768px) {
  .financeItem {
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }
}
.id {
  width: 40px;
}
.date {
  width: 120px;
}
.amount {
  width: 120px;
}

@media screen and (max-width: 768px) {
  .date,
  .id,
  .amount {
    width: auto;
  }
}
