.wrapper {
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin-top: 15px;
  flex: none;
  width: 270px;
  height: calc(100vh - 80px);
}
.support {
  width: 100%;
  min-height: 138px;
  flex-shrink: 0;
  border-radius: 12px;
  background-size: cover;
  padding: 15px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to right, #8e44ad, #3498db);
}
.support > h3 {
  font-size: 20px;
  font-weight: 700;
}
.support > p {
  font-size: 12px;
  max-width: 132px;
  margin-top: 10px;
}
.support_img {
  position: absolute;
  width: 108px;
  height: 88px;
  bottom: 3px;
  right: 0;
}
.asideBar {
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 3px 5px 4px;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, #1e283f, rgba(20, 27, 46, 0.6));
  width: 270px;
  padding: 10px;
}

.category {
  position: relative;

  display: flex;
  align-items: center;
  border-radius: 10px;
}
.categoryButton {
  padding: 0 10px;
  text-align: left;
  width: 100%;
  min-height: 45px;
  max-height: 45px;
  height: 100%;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.32px;
  letter-spacing: 0.28px;
}
.category::before {
  content: "";
  position: absolute;
  height: 1px;
  top: 0;
  left: 12px;
  right: 12px;
  background-color: #252f4bb3;
}
.category:hover {
  background-color: #7388b61a;
}
.active {
  box-shadow: 0 6px 22px #056dda4d;
  background-image: linear-gradient(to right, #0095ff, #0855c4);
}
.title {
  font-size: 11px;
  line-height: 13.13px;
  text-transform: uppercase;
  letter-spacing: 0.13px;
  margin: 12px 0 15px 10px;
  color: #7388b64d;
  font-weight: 700;
}
@media (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
  .support {
    width: 100%;
  }
  .asideBar {
    width: 100%;
  }
}
