.Input {
  border-radius: 10px;

  padding: 10px 15px;

  background-color: var(--white-10);

  width: 100%;

  color: #0e0e0e;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .Input {
    font-size: 16px;
  }
}

.Input::placeholder {
  color: #191919;
}

.label {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 8px;
}
.labelText {
  padding-left: 4px;

  color: #0e0e0e;
  font-size: 11px;
}
