.LoadingSpinner {
  animation: loading 2s linear infinite;

  width: 32px;
  height: auto;
}

@keyframes loading {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
