.AuthForm {
  border-radius: 8px;

  padding: 20px;

  background-color: var(--white);

  max-width: 270px;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.heading {
  font-size: 16px;
  font-weight: 700;
  color: var(--blue-00);
}
.form {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 24px;
}

.authButton {
  position: relative;

  border-radius: 8px;

  padding: 8px 0;

  background: var(--green-gradient);
  transition: 0.2s;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.15;
}
.authButton:disabled {
  filter: grayscale(1);
}
.authButton_success {
  background: var(--light-blue-gradient);
}

.loading {
  position: absolute;
  top: 8px;
  right: 8px;

  border-radius: 4px;

  padding: 2px;

  background-color: var(--black);

  width: 16px;
  height: 16px;
}

.error {
  color: var(--yellow-00);
  font-size: 11px;
  text-align: center;
}

.changeAuthMethod {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.changeAuthMethodText {
  color: var(--gray-30-transparent);
}
.changeAuthMethodButton {
  color: var(--blue-40);
  font-size: 12px;
  font-weight: 700;
}

body .toast {
  background: var(--dark-blue-gradient);
  background-color: var(--blue-20);
}

body .toastProgress {
  background: var(--light-blue-gradient);
}
