.Head {
  height: 40px;

  display: grid;
  align-content: center;
  grid-template-columns: 1fr auto;
}

.headRow {
  width: 100%;

  display: grid;
  grid-auto-flow: column;
  align-content: center;
}

@media screen and (max-width: 768px) {
  .headRow {
    display: none;
  }
}

.headRow * {
  color: var(--white);
}

.nameCell {
  padding: 10px 15px;

  display: flex;
  align-items: center;
  gap: 8px;
}

.sportIcon {
  fill: var(--white);

  width: 14px;
  height: 14px;
}

.name {
  font-size: 12px;
  font-weight: 500;
}

.oddCell {
  background-color: var(--gray-50);

  width: 45px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: var(--blue-50);
  font-size: 11px;
}

.Head .oddCell {
  background-color: transparent;
}

.oddCell_special {
  text-transform: uppercase;
  background-color: var(--gray-60);
}
