.SystemSelect {
  border-radius: 10px;
  overflow: hidden;

  background: white;

  width: 120px;
  height: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.systemSelect_active {
  border: 1px solid var(--green-10);
}
@media screen and (max-width: 768px) {
  .systemSelect {
    width: 100%;
  }
}
.icons {
  padding: 2px 8px;

  background-color: white;

  width: 100%;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.systemSelectIcon {
  fill: unset;
  color: unset;
}

.systemSelectText {
  font-weight: 500;
}
.systemSelectTextMini {
  font-size: 12px;
}
.systemSelectText,
.systemSelectTextMini {
  color: var(--black);
}
