.main {
  padding-top: 12px;

  width: 100%;

  display: grid;
  grid-template-areas:
    "header coupon"
    "table coupon";
  grid-template-columns: calc(100vw - 320px - 12px - 12px - 18px) auto;
  gap: 18px;
}

@media screen and (max-width: 1080px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}

.coupon {
  grid-area: coupon;
}
